@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 50px;
        font-family: 'Poppins', sans-serif;
        background-color: #222;
        color: #fff;
        
        #title {
            text-align: center;
            font-weight: 700;
        }

        #img {
            max-width: 500px;
            border-radius: 10px;
        }

        #date {
            margin: 0;
            font-weight: 600;
        }

        #explanation {
            line-height: 1.5;
            text-align: justify;
            font-size: 12;
            margin: 20px 0;
            font-weight: 500;
        }
        
        input {
            background: transparent;
            color: #fff;
            border: none;
            overflow: hidden;
            outline: none;
            font-size: 18px;
            cursor: default;
            width: 90px;
            font-weight: 500;
        }
    }
}